<head>
    <title>Fanta$y League</title>
</head>


<template name="Home">

    <center>
        <h1 id="sp">Sign in</h1></center>
    <br>
    <center>{{> loginButtons}}</center>



    {{#if currentUser}}

    <div id="week1" class="box">
        <div class="box" id="gamebox">
            <form class="week1b">
                    <button id="wk1b">Week 1</button>
            </form>
            
            <form class="week2b">
                    <button id="wk2b">Week 2</button>
            </form>
        </div>
        
        

    </div>
    {{/if}}
</template>




<template name="week1">
    <h1><center>Week 1 Results</center></h1>
     <p id="dates">Thursday. September 10, 2015</p>
    <div id="svsp" class="box">
        <form class="game1">
            <p id="svp"> 21 Steelers vs. <b>Patriots 28</b>
                <button id="g1">Click Stats</button>
            </p>
        </form>
    </div>
<Br>
    <p id="dates">Sunday. September 13, 2015</p>
        <div id="dvsr" class="box">
        <form class="game2">
            <p id="dvr"><b>17 Dolphins</b> vs. Redskins 10
                <button id="g1">Click Stats</button>
            </p>
        </form>
    </div>

</template>


<template name="gamest">
<div class="box">
    <b>Steelers</b>
    
    </div>
</template>