body{
background-color: gold;
}

#sp{
color: black;
}

#si{
font-size: 30px;
width: 950px;
height: 30px; 
}

#gamebox{
background-color: firebrick;
width: 400px;
height: 400px;
}

#svsp{
width: auto;
height: 50px;
background-color: aqua;
}

#dvsr{
width: auto;
height: 50px;
background-color: aqua;
}

#wk1b{
width: 400px;
height: 65px;
}

#wk2b{
width: 400px;
height: 65px;
}

#svp{
font-size: 25px;
padding-top: 5px;
padding-left: 5px;
text-align: center;
}

#dvr{
font-size: 25px;
padding-top: 5px;
padding-left: 5px;
text-align: center;
}

#dates{
    font-size: 20px;
}